// @import 'yoga';
// @import 'normalize';
//
$font-stack: Lato, sans-serif;
$c-primary: #333333;
$c-secondary: #FFFFFF;
$c-tertiary: #F3F3F3;
$c-accent: #FF0DFF;
$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';

@import 'font-awesome';
@import 'box-sizing';
@import 'reset';
@import 'layout';
@import 'components/nav-bar';
@import 'components/hero';
@import 'components/content';
@import 'components/footer';
@import 'components/hover';
@import 'components/clients';
