.container {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
}

.section {
  margin: 1rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;

  &__item {
    flex-basis: calc(100% / 4 - 1rem);
    flex-grow: 1;
    margin: 0.5rem 1rem;
    flex-wrap: wrap;
    min-width: 15rem;
  }
}

@media (min-width: 380px) and (max-width: 650px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__item {
      flex-basis: calc(100% / 1);
      min-width: 25rem;
      flex-grow: 1;
    }
  }
}
