.container {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;

  &--vertical {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;

  &__item {
    flex-basis: calc(100% / 4 - 1rem);
    flex-grow: 1;
    margin: 0.5rem 1rem;
    flex-wrap: wrap;
    min-width: 15rem;
  }
}

@media (min-width: 460px) and (max-width: 760px) {
  .grid {
    // display: flex;
  }
  .grid__item {
    flex-basis: calc(100% / 1 - 1rem);
    // display: flex;
    min-width: 100%;
    flex-grow: 1;
    // flex-direction: column;
  }
}
