.container {
  max-width: 60rem;
  margin: 0 auto;

  &--vertical {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;

  &__item {
    flex-basis: calc(100% / 3 - 1rem);
    flex-grow: 1;
    margin: 0.5rem 1rem;
    // margin: -1rem;
    // border: .1rem solid $c-primary;

    &-vertical {
      height: 20rem;
    }
  }
}
