.content {
  display: flex;
  flex-direction: row;

  &__view {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &-text {
      text-decoration: none;
      margin-bottom: 0;
    }

    &-link,
    a,
    button {
      font-size: 1rem;
      display: flex;
      flex-direction: row;
      margin: 0;
      font-weight: 200;
      text-decoration: none;
      color: $c-primary;
      background: none;
      border: none;
      outline: none;
    }
  }
}

.content__image {
  position: relative;
  height: 100%;

  &-pic {
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
  }

  &::before {
    display: block;
    content: "";
    padding-top: 100%;
  }
}

.content__image-text {
  position: absolute;
  top: 10%;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 1;

  color: $c-primary;
  font-weight: bold;
  z-index: 1;
  font-size: 1rem;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  text-transform: lowercase;

  *:hover > & {
    visibility: visible;
  }

  @media only screen and (max-width: 500px) {
    .content__image-pic {

    }
    .content__image-text {
      display: flex;
      flex-direction: column;
      visibility: visible;

      &:hover {
        display: none;
      }
    }
  }
}

.about {
  &__header {
    font-size: 2rem;
    font-weight: 300;
  }

  &__text {
    padding-bottom: 0.2rem;
    font-size: 1.2rem;

    &-breakout {
      border-left: 0.3rem solid $c-accent;
      padding-left: 1rem;
      padding-bottom: 0.2rem;
      font-size: 1.7rem;
    }
  }
}

.portfolio {
  display: flex;
  justify-content: center;
  text-align: center;

  &__header {
    font-weight: 400;
    letter-spacing: 0.5rem;
    font-size: 1.5rem;

    &-line {
      color: $c-accent;
    }
  }
}

.project__image-link {
  color: $c-primary;
  text-decoration: none;
  margin: 0;
  width: 100%;

  &:hover {
    color: $c-accent;
  }
}
