.contact {
  display: flex;
  flex-direction: column;

    @media only screen and (max-width: 500px) {
      .contact__info {
        font-size: 1rem;
      }
    }

  &__info, a {
    font-weight: 300;
    font-size: 1.3rem;

    &-wrap {
      display: flex;
      flex-direction: row;
      margin-bottom: 2rem;
    }

    &-details, a {
      border-left: .5rem solid $c-accent;
      padding-left: 1rem;
      margin-bottom: 1rem;
      font-weight: 300;
    }

    &-resume {
      text-decoration: none;
      color: $c-primary;
    }
  }
}
