.content {
  display: flex;
  flex-direction: row;

  &__view {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &-text {
      text-decoration: none;
      margin-bottom: 0;
    }

    &-link,
    a,
    button {
      font-size: 1rem;
      display: flex;
      flex-direction: row;
      margin: 0;
      font-weight: 200;
      text-decoration: none;
      color: $c-primary;
      background: none;
      border: none;
      outline: none;
    }
  }
}

.content__image {
  position: relative;
  height: 100%;

  &-pic {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    filter: grayscale(90%);
  }

  &::before {
    display: block;
    content: "";
    padding-top: 100%;
  }
}

.content__image-text {
  margin: 0;
  // position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //
  visibility: hidden;
  opacity: 1;
  //
  color: $c-primary;
  font-weight: bold;
  z-index: 1;
  font-size: 1.2rem;
  //
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  //
  &:hover {
    //     .content__image-text {
    // visibility: visible;
    // display: block;
  }
}
