.footer {
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  // background: $c-primary;
  color: $c-primary;
  padding: 1rem 0;

  &__copyright {
    text-align: center;
    margin: 1rem 2rem 0;
    font-weight: 400;
    letter-spacing: .5rem;
  }

  &__flex {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    font-size: .8rem;

    &-social {
      text-align: center;
    }
  }
}

.social-icon {
  font-size: 1.5rem;
  margin: 1rem 0  0 1rem;
  font-weight: 400;

  &:first-of-type {
    margin-left: 0;
  }

  &:hover {
    text-decoration: underline;
  }
}
