.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url('/images/bw-code.png') no-repeat center;
  // background: $c-tertiary;
  height: 30rem;
  background-size: cover;
  margin-bottom: 3rem;

  &__about {
    background: url('/images/sw6.jpg') no-repeat center;
    background-size: cover;
    height: 30rem;

    &-headline, &-subtitle {
      letter-spacing: normal;
    }
  }

  &__contact {
    background: url('/images/booknerd.jpg') no-repeat center;
    background-size: cover;
    height: 30rem;

  }

  &__welcome {
    background: $c-secondary;
    opacity: 0.7;
    padding: 4rem 4.5rem;
    font-weight: lighter;
    letter-spacing: .5rem;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);

    &-headline {
      font-weight: 300;
      z-index: 2;
    }

    &-subtitle {
      font-weight: 800;
      z-index: 2;
    }
  }
}
