  .hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;

    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: $c-accent;
    height: 1.5px;
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }

  .hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    // transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    transition-property: color;
    transition-duration: 0.5s;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $c-tertiary;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.5s;
    opacity: .8;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: $c-primary;
  }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    transform: scaleX(1);
  }

  .hvr-icon-fade-github {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    padding-right: 2.2em;
  }
  .hvr-icon-fade-github:before {
    content: "\f113";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    transform: translateZ(0);
    transition-duration: 0.5s;
    transition-property: color;
  }
  .hvr-icon-fade-github:hover:before, .hvr-icon-fade-github:focus:before, .hvr-icon-fade-github:active:before {
    color: $c-accent;
  }

  .hvr-icon-fade-linkedin {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    padding-right: 2.2em;
  }
  .hvr-icon-fade-linkedin:before {
    content: "\f0e1";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    transform: translateZ(0);
    transition-duration: 0.5s;
    transition-property: color;
  }
  .hvr-icon-fade-linkedin:hover:before, .hvr-icon-fade-linkedin:focus:before, .hvr-icon-fade-linkedin:active:before {
    color: $c-accent;
  }

  .hvr-icon-fade-twitter {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    padding-right: 2.2em;
  }
  .hvr-icon-fade-twitter:before {
    content: "\f099";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    transform: translateZ(0);
    transition-duration: 0.5s;
    transition-property: color;
  }
  .hvr-icon-fade-twitter:hover:before, .hvr-icon-fade-twitter:focus:before, .hvr-icon-fade-twitter:active:before {
    color: $c-accent;
  }

  .hvr-fade {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    overflow: hidden;
    transition-duration: 0.3s;
    transition-property: color, background-color;
  }
  .hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: $c-accent;
    color: white;
  }

  .hvr-fade-project  {
    display: inline-block;
    vertical-align: top;
    transform: perspective(4px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    overflow: hidden;
    transition-duration: 0.3s;
    transition-property: color, background-color;
  }
  .hvr-fade-project:hover, .hvr-fade-project:focus, .hvr-fade-project:active {
    background-color: $c-tertiary;
    color: $c-primary;
  }
