.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background: $c-secondary;
  color: $c-primary;
  position: fixed;
  z-index: 1;

  @media (min-width: 350px) and (max-width: 736px) {
    .nav__right {
      font-size: 1rem;
    }

    .nav__logo {
      font-size: 1rem;
    }
  }

  &__logo {
    font-size: 1.5rem;
    // background: $c-primary;
    color: $c-primary;
    letter-spacing: 0.4rem;
    text-decoration: none;
  }

  &__right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-link {
      margin-right: 0.5rem;
      justify-content: space-around;
      text-decoration: none;
      color: $c-primary;
    }
  }
}
